/* STUDENT AND STAFF PAGES ARE USING THE SAME CSS */
.main-container {
  position: relative;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  position: relative;
  margin: 10px;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  box-shadow: 1px 2px 3px black;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.card > img{
  position: absolute;
  top: 0;
  left:0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: stretch;
}
.card > div {
  position:absolute;
  color:white;
  bottom:0;
  display:flex;
  justify-content:space-between;
}

.main-container::-webkit-scrollbar {
  position: absolute;
  top: 0;
  width: 0;
  background: transparent;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  background: white;
  width: 50%;
  height: 50%;
  border-radius: 5%;
  padding: 20px;
  box-shadow: 3px 3px 20px black;
}

#modal-btn {
  position: absolute;
  right: -10px;
  top: -10px;
  transform: rotate(12deg);
  border-radius: 50%;
  background:goldenrod;
  border:5px solid darkblue;
}
