.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  text-align: justify;
}

input {
  padding: 10px;
  margin: 5px;
  border: none;
  box-shadow: inset 1px 1px 3px black;
  border-radius: 15px;
}

button,
select {
  padding: 10px;
  margin: 5px;
  border: none;
  box-shadow: 1px 1px 3px black;
  border-radius: 15px;
}

.profile {
  display:flex;
  justify-content:space-around;
  align-items:stretch;
  text-align:center;
}

.profile>div{
  padding:3rem;
  margin:3rem;
  width:45%;
  border: 5px solid goldenrod;
  border-radius:10px;
  box-shadow:1px 2px 3px black;
}