/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
nav {
  position: fixed;
  top: 0;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: aliceblue;
  padding: 0 1rem;
  box-sizing: border-box;
}
