/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* nav {
  position: fixed;
  top: 0;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: black;
  padding: 0 1rem;
  box-sizing: border-box;
} */

.topnav {
  position: fixed;
  top: 0;
  height: 3rem;
  padding: 0 1rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: gray;
  display: inline-flex;
  width: 100%;
}

.topnav a {
  color: aquamarine;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: blue;
  color: whitesmoke;
}
