*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

.nav___link {
  text-decoration: none;
  color: darkgray;
}

/* Hovering Effect */
.nav ul li a {
  transition: all 2s;
}

.nav ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
.nav ul li a:hover {
  color: #fff;
  z-index: 1;
}
.nav ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  background-color: #555;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background: #1a1730;
}

.nav___brand {
  text-transform: uppercase;
  font-weight: bold;
}

.nav___menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 20rem; */
}

.nav___toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: darkgray;
  transition: 0.4s ease-in;
}

.nav___toggler {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .nav___toggler {
    display: block;
  }
  .nav___menu {
    position: fixed;
    top: 7vh;
    right: 0;
    width: 50%;
    height: 100%;
    background: #1a1730;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 1000;
  }
}

/* Nav Active Class */

.nav___active {
  transform: translateX(0%);
}

/*Toggler Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
