/* STUDENT AND STAFF PAGES ARE USING THE SAME CSS */
.student-staffs-main-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.subheader {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-family: "Ibarra Real Nova", serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 75px;
}

.subheader-color {
  background-color: goldenrod;
  color: #fefae1;
}

.bottom-others {
  padding-bottom: 60px;
}

.others {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 5px;
  font-weight: normal;
}

.subheader > h1 {
  color: #fefae1;
  font-family: "Ibarra Real Nova", serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
}

.card {
  position: relative;
  margin: 10px;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  box-shadow: 1px 2px 3px black;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.card > img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: stretch;
}
.card > h2 {
  position: absolute;
  color: white;
  bottom: 0;
  left: 10px;
}

.main-container::-webkit-scrollbar {
  position: absolute;
  top: 0;
  width: 0;
  background: transparent;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  background: white;
  width: 50%;
  height: 50%;
  border-radius: 5%;
  padding: 40px;
  box-shadow: 3px 3px 20px black;
}

.modal-body {
  width: 100%;
  padding: 10px;
}

.modal-body-desc {
  font-size: larger;
  line-height: 130%;
  margin-top: 10px;
  overflow: auto;
}

.modal-body-desc > p {
  overflow-y: auto;
  height: 300px;
  width: 100%;
  padding-right: 8px;
}

.modal-body > p {
  font-size: larger;
  line-height: 130%;
  margin-top: 10px;
}

.modal-body > img {
  border-radius: 5px;
  height: 20vw;
  width: 100%;
}

#modal-btn {
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: larger;
  font-weight: bolder;
  transform: rotate(12deg);
  border-radius: 50%;
  background: goldenrod;
  border: 5px solid #1a1730;
  color: #1a1730;
}
