.subnav-content {
  display: flex;
  background-color: goldenrod;
  width: 100%;
  z-index: 1;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0 1rem;
  height: 15rem;
  justify-content: center;
  align-items: center;
}

.subnav-content a {
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  align-content: center;
}

.container {
  background-color: #ddd;
  padding: 10px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.house-name-body {
  display: flex;
  background-color: blueviolet;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
