.subnav-content {
  display: flex;
  background-color: goldenrod;
  width: 100%;
  z-index: 1;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0 1rem;
  height: 15rem;
  justify-content: center;
  align-items: center;
}

.subnav-content a {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  align-content: center;
}

.container {
  background-color: #ddd;
  padding: 10px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.house-name-body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.Gryffindor {
  background-color: #740001;
  color: #d3a625;
}

.Slytherin {
  background-color: #1a472a;
  color: #aaaaaa;
}

.Ravenclaw {
  background-color: #0e1a40;
  color: #8e8e8e;
}

.Hufflepuff {
  background-color: #dbc754;
  color: rgb(49, 49, 49);
}
