.main-container {
  background-color: blue;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.flex {
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:space-between;
}

button{
  padding:10px;
  border-radius:10px;
  border: none;
  box-shadow: 1px 2px 3px gray;
}
